// если цветов много - http://chir.ag/projects/name-that-color/#6195ED

$color-black: #000000;
$color-white: #ffffff;

$color-cape-cod: #393D40;
$color-seashell: #F1F1F1;

$color-text-default: $color-black;
$invert-color-text-default: $color-white;

$header-color: $color-cape-cod;

$melanie-royalBlue-gradient: linear-gradient(270deg, #DAB3D8 0.15%, #3A51ED 99.51%);
$aqua-heliotrope-gradient: linear-gradient(90deg, #00D7FF 0%, #AE56F9 100%);
$aquamarineBlue-pictonBlue-gradient: linear-gradient(90deg, #7FD4E0 0%, #41A1F5 99.51%);
$royalBlue-malibu-gradient: linear-gradient(90deg, #4360F3 0%, #54B2FE 100%);
$mediumPurple-fountainBlue-gradient: linear-gradient(90deg, #8351DE 0%, #48B8BD 100%);
$shamrock-atlantis-gradient: linear-gradient(270deg, #30CB70 0%, #8ACB2F 100%);
$waxFlower-mulberry-gigas-gradient: linear-gradient(90deg, #FFB4A1 0%, #CC4E91 48.16%, #563288 100%);
$melanie-royalBlue-gradient: linear-gradient(270deg, #DAB3D8 -223.52%, #3A51ED 99.03%);
$royalBlue-malibu-gradient: linear-gradient(90deg, #4360F3 0.54%, #54B2FE 305.97%);
